body{text-align: center;font-weight: bolder; background-color: #369F36}
h1{text-align: center; font-family:궁서; font-weight: bolder;}
h2{text-align: left; font-family:굴림; font-weight: bold;}
div{border: 2px solid gray;}
pre{text-align: left; font-family:굴림;font-weight: lighter;}